
@keyframes header_fixed{
    from{
        top:-80px;
        opacity: 0;
    }
    to{
        top:0px;
        opacity: 1;
    }
}


@keyframes gameAni{
    from{
        transform:translateY(5%);
    }
    to{
        transform:translateY(0%);
    }
}
@keyframes gameAni_Alt{
    from{
        transform:translateY(0%);
    }
    to{
        transform:translateY(5%);
    }
}
@keyframes jackpot_bg{
    from{
        background-position: 0 0%;
    }
    to{
        background-position: 0 100%;
    }
}
@keyframes gradient{
    from{
        background-position: -600px 0;
    }
    to{
        background-position: 0% 0;
    }
}
@keyframes mobile_navClose {
    from {
        left: 0px;
    }
    to {
        left: -300px;
    }
}
@keyframes mobile_navOpen {
    from {
        left: -300px;
    }
    to {
        left: 0px;
    }
}
@keyframes border_animate {
    from {
        border-top-color: #ecd847;
        border-bottom-color: #e9d333;
        border-right-color: #c59b20;
        border-left-color: #c59b20;
        background-position: 0% 60%;
    }
    to {
        border-top-color: #c59b20;
        border-bottom-color: #c59b20;
        border-right-color: #e9d333;
        border-left-color: #e9d333;
        background-position: 100% 41%;
    }
}

@keyframes jack_1 {
    to {
        transform: translateX(5px) translateY(-10px);
    }
}
@keyframes jack_2 {
    to {
        transform: translateX(10px) translateY(5px);
    }
}
@keyframes jack_3 {
    to {
        opacity: 0.8;
        transform: rotate(45deg) translateY(5px);
    }
}
@keyframes livechat_open {
    from {
        left: -180px;
    }
    to {
        left: 0px;
    }
}
@keyframes livechat_btn_open {
    from {
        left: 0px;
    }
    to {
        left: 97px;
        
    }
}
@keyframes textshadow {
    from {
        text-shadow: 0 0 0;
    }
    to {
        text-shadow: 2px 2px 5px #F0D641;
    }
}
@keyframes texticon {
    from {
        left: 0px;
    }
    to {
        left: -5px;
    }
}
@keyframes nav_open {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes textGradient{
    
    to {
        background-position: 200% center;
      }
}

@keyframes rightInfinite{
    from{
        left:0px;
    }
    to{
        left:-2%;
    }
} 
@keyframes rotate360{
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(180deg);
    }
}

/* Feel free to change duration  */ 
.animated  {
	-webkit-animation-duration : 1000 ms  ;
	animation-duration : 1000 ms  ;
	-webkit-animation-fill-mode : both  ;
	animation-fill-mode : both  ;
  }  
  /* .owl-animated-out - only for current item */ 
  /* This is very important class. Use z-index if you want move Out item above In item */ 
  .owl-animated-out {
	z-index : 1 
	 }
  /* .owl-animated-in - only for upcoming item
  /* This is very important class. Use z-index if you want move In item above Out item */ 
  .owl-animated-in {
	z-index : 0 
	 }
  /* .fadeOut is style taken from Animation.css and this is how it looks in owl.carousel.css:  */ 
  .fadeOut  {
	-webkit-animation-name : fadeOut  ;
	animation-name : fadeOut  ;
  }  
  @-webkit-keyframes  fadeOut  {
	0% {
	  opacity : 1   ;
	}  
	100% {
	  opacity : 0   ;
	}  
  }
  @keyframes  fadeOut  {
	0% {
	  opacity : 1   ;
	}  
	100% {
	  opacity : 0   ;
	}  
  }
    
